
{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load custom_filters %}



<section class="home-slider owl-carousel">

	<div class="slider-item" style="background-image: url(/static/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
	  <div class="container">
		<div class="row slider-text justify-content-center align-items-center">

		  <div class="col-md-7 col-sm-12 text-center ftco-animate">
			  <h1 class="mb-3 mt-5 bread">Our Menu</h1>
			  
		  </div>

		</div>
	  </div>
	</div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Discover</span>
                <h2 class="mb-4">Our Products</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
            <div class="row">
				{% for category in categories %}
                <div class="col-md-6 mb-5 pb-3">
                    <h3 class="mb-5 heading-pricing ftco-animate">{{ category }}</h3>
                    {% for item in menu_items|filter_category:category %}
                        <div class="pricing-entry d-flex ftco-animate">
                            <div class="img" style="background-image: url('{{ item.image }}');"></div>
                            <div class="desc pl-3">
                                <div class="d-flex text align-items-center">
                                    <h3><span>{{ item.name }}</span></h3>
                                    <span class="price">₹{{ item.price }}</span>
                                </div>
                                <div class="d-block">
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
				{% endfor %}
            </div>
        
    </div>
</section>



<section class="ftco-menu mb-5 pb-5">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">To Order Online</span>
                <h2 class="mb-4">Select Our Products from Below </h2>
                <p>According to your choice, you can select products from different category. Select quantity & add them into cart.</p>
            </div>
        </div>

        <div class="row d-md-flex">
            <div class="col-lg-12 ftco-animate p-md-5">
                <div class="row">
                    <div class="col-md-12 nav-link-wrap mb-5">
                        <div class="nav heading-pricing ftco-animate nav-pills justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            {% for category in categories %}
                                <a class="nav-link {% if forloop.first %}active{% endif %}" id="v-pills-{{ forloop.counter }}-tab" data-toggle="pill" href="#v-pills-{{ forloop.counter }}" role="tab" aria-controls="v-pills-{{ forloop.counter }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ category }}</a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-md-12 d-flex align-items-center">
                        <div class="tab-content ftco-animate" id="v-pills-tabContent">
                            {% for category in categories %}
                                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="v-pills-{{ forloop.counter }}" role="tabpanel" aria-labelledby="v-pills-{{ forloop.counter }}-tab">
                                    <div class="row">
                                        {% for item in menu_items|filter_category:category %}
                                            <div class="col-md-6 text-center">
                                                <div class="menu-wrap">
                                                    <div  class="menu-img img mb-4" style="background-image: url('{{ item.image }}'); "></div>
                                                    <div class="text">
                                                        <h3><a href="{% url 'singleItem' item_id=item.id %}">{{ item.name }}</a></h3>
                                                        <p>{{ item.description }}</p>
                                                        <p class="price"><span>₹{{ item.price }}</span></p>

                                                        <form method="post" action="{% url 'add_to_cart' item_id=item.id %}">
                                                            {% csrf_token %}
                                                            <div class="row d-flex justify-content-center align-content-center">
                                                                <div class="col-sm-1">
                                                                    <button type="button" class="quantity-btn btn" data-type="minus" data-field="quantity{{ item.id }}">
                                                                        <i class="icon-minus"></i>
                                                                    </button>
                                                                </div>
                                                                <div class="col-sm-1">
                                                                    <input type="text" id="quantity{{ item.id }}" name="quantity" class="form-control input-number" value="1" min="1" max="100" style="margin-left: 10px;">
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <button type="button" class="quantity-btn btn" data-type="plus" data-field="quantity{{ item.id }}">
                                                                        <i class="icon-plus"></i>
                                                                    </button>
                                                                </div>
                                                                <div class="col-sm-1">
                                                                    <button type="submit" class="btn btn-primary btn-outline-primary">Add to Cart</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        
                                                    </div>
													
                                                </div>
												
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







{% endblock %}
